@import "tailwindcss";

@theme {
  --font-onest: "Onest", sans-serif;
}

@keyframes load {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

html {
  font-size: 100%;
}

@media (max-width: 112.5rem) {
  html {
    font-size: 90%;
  }
}

.sidebar-scroll {
  overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0.375rem;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 0.125rem;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}